@media (max-width: 770px) {
    h1 {
        font-size: 30px;
        line-height:45px;
        font-weight: bold;
        text-transform: uppercase;
    
    }
    h2 {
        font-size: 18px;
        line-height:27px;
        font-weight: bold;
        text-transform: uppercase;
    }
  }